<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python vs Matlab!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <div class="pvm-background">
        <div class="pvm-space">
            <div class="alert pvm-alert"></div>
            <div class="pvm-question-title">
                <h1 class="pvm-question-title-text display-3">Welcome to Python vs Matlab!</h1>
            </div>
            <div class="pvm-question">
                <p class="pvm-question-text">
                    Welcome to our Python vs Matlab event! You'll be given 10 problems with increasing difficulty - whoever finishes the problems first, or gets furthest in the time we have the room wins; and the programming language they used is crowned as the Superior Language. All solutions will be an alphanumeric (A-Z, 0-9) string that can be inputted into an input box below. Good luck!
                </p>
            </div>

            <input type="text" class="pvm-question-input input-group-text"></input>
            <div>
                <button class="pvm-submit-button btn btn-secondary ">Click here to get started!</button>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>